/* logo start */
@media only screen and (min-width: 769px){
    .mv_mobile{
        display: none;
    }
    .label_three_mobile{
        display: none;
    }
    .label2_three_mobile{
        display: none;
    }
    .mobile_break{
        display: none;
    }
    .mobile{
        display: none;
    }
}
/* end logo */
/* main product start */
@media (max-width:768px){
    .pc{
        display: none;
    }

    .label_flex{
        display: flex !important;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 40px;
    }
    .label{
        display:block;
    }
    .label2{
        display:block;
        padding-top: 30px;
    }
    .label_two_start {
        max-width: auto;
        height: 30px;
    }
    .label_three_mobile {
        width: auto;
        height: 85px;
    }
    .label_four_start{
        width: 40%;
        height: 45px;
        padding-top: 30px ;
        padding-left: 35px;
    }
    .label_five_start{
        padding-top: 10px;
        font-size: 20px;
        line-height: 1.5;
    }
    .bottom_one{
        align-items: flex-end;
        padding-bottom: 50px;
    }
    
     /* header star */
     .logo{
        width: 100%;
    }
    .logo_start_end{
        width: 160px;
        height: auto;
    }
    .mv_pc{
        display: none;
    }
    .logo1{
        max-width: 100%;
        padding: 15px 30px;
        margin: 0;
        box-sizing: border-box;
    }
    .border{
        background: #ecebe5;

        height: 30px;
    }
    .space{
        padding-bottom: 50px;
    }
    .ten_start::before{
        content: "・";
    }
    /* label start */
    .web_man{
        border-bottom: #ecebe5 solid 200px;
    }
    .web_main_sp{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .label_three_pc{
        display: none;
    }
    .label_three_mobile{
        width: 100px;
    }
    .label_one_start{
        font-size: 25px;
        padding-right: 10px;
    }
    /* end label  */
    /* label2 start */
    .label2_three_pc{
        display: none;
    }
    .label2_three_mobile{
        width: 100px;
    }
    .label2_one_start{
        font-size: 25px;
        padding-right: 10px;
    }
    .label_end_start_end{
        text-align: left;
    }
    /* end label  */
    /* end header */
    .main_product_two{
        max-width: 100%;
        padding: 0;
    }
    .main_product_two_sum{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: block;
    }
    .main_product_two_start{
        margin: 10px;
        padding-left: 0;
        box-sizing: border-box;
        text-align: left;
    }
    .main_product_two_start p{
        font-size: 16px;
    }
    .main_product_two_img{
        padding: 0;
        margin: 0;
        text-align: center;

    }
    .main_product_two_img img{
        margin-top: 0;
        height: 150px;
        width: auto;
        box-sizing: border-box;
    }
    .main_product_two_end{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .main_product_two_end_sp{
        padding-top: 0px ;
        margin: 10px;
        margin-bottom: 0;
        font-size: 16px;
        box-sizing: border-box;  
    }
    .main_product_two_end_tp{
        margin-top: 0;
        font-size: 16px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .campaign_two{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .campaign_two_end{
        font-family: none;
    }
    .recruitment_two{
        max-width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
        font-weight: bold;
    }
    .note_two{
        max-width: 100%;
        margin: 0;
        padding:0 20px;
        box-sizing: border-box;
        font-weight: bold;
    }
    .button_me{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .button_now{
        max-width: 100%;
        height: auto;
        font-size: 30px;
        word-wrap: break-word;
        line-height: 1.2;
        font-weight: bold;
    }
    .footer{
        margin: 0;
        padding: 0%;
        max-width: 100%;
    }
    .footer_one{
        text-align: center;
        height: 100px;
        padding-top: 30px;
    }
    .footer_two{
        position: relative;
        text-align: center;
        padding:0 50px;
    }
    .footer_three {
        text-align: center;
        padding:0 100px;
    }
}
/* end campaign */
}
/* end main product */
