body{
    font-family: Arial, Helvetica, sans-serif;
}
/* header-start */
main{
    background: white;
}
.logo{
    background: #ecebe5 ;
    width: 100%;
    height: auto;
    text-align: center;
}
.logo_start_end{
    width: 250px;
    height: 130px;
    margin: 20px;
    text-align: center;
}
/* end-header */
/* main-logo-start */
.web_main{
    margin: 0;
    padding:0;
}
.logo1{
    background: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 20px 20%;
    box-sizing: border-box;
}
.auto img{
    max-width: 100%;
    height: auto;
}
/* end-main-logo */
/* label start */
.web_main_sp{
    background-color: #ecebe5;
    background: ;
    max-width: 100%;
    margin: 0;
    padding: 30px 17%;
    box-sizing: border-box;
}
/* label1 start */
.label{
    background: white;
    box-sizing: border-box;
    display: grid;
    border-bottom:rgb(105, 95, 95) double 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                        "c1 c1 c1 c1"
                        "c2 c2 c3 c3"
                        "c4 c5 c3 c3"
    ;
}
.label_one{
    grid-area: c1;
    padding-left: 30px;
}
.label_one_start{
    font-size: 40px;
    padding-left:15px ;
    border-left: #d52c2c solid 5px;
    
}
.label_two{
    grid-area: c2;
    padding-left: 30px;
}
.label_two_start{
    max-width: 50%;
    height: auto;
}
.label_three{
    grid-area: c3;
    padding-left: 30px;
}
.label_three_pc{
    max-width: 50%;
    height: auto;
    left: 0;
}
.label_three_mobile{
    width: 200px;
}
.label_four{
    grid-area: c4;
    padding: 50px 30px;
}
.label_four_start{
    max-width: 100%;
    height: auto;
    padding-top: 30px;
}
.label_five{
    grid-area: c5;
    padding: 30px 0 ;
}
.label_five_start{
    width: 100%;
    font-size: 40px;
}
/* end label1 \ */
/* label2 start */
.label2{
    background: white;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
                        "c1 c1 c1 c1"
                        "c2 c2 c3 c3"
                        "c4 c5 c3 c3"
                        "c6 c6 c6 c6"
    ;
}
.label2_one{
    grid-area: c1;
    padding-left: 30px;
}
.label2_one_start{
    font-size: 30px;
    padding-left:10px ;
    border-left: #d52c2c solid 5px;
}
.label2_two{
    grid-area: c2;
    padding-left: 30px;
}
.label2_two_start{
    max-width: 50%;
    height: auto;
}
.label2_three{
    grid-area: c3;
    padding-left: 30px;
}
.label2_three_pc{
    width: 170px;
    height: auto;
    left: 0;
}
.label2_three_mobile{
    width: 200px;
}
.label2_four{
    grid-area: c4;
    padding: 50px 30px;
}
.label2_four_start{
    width: 200px;
    height: auto;
}
.label2_five{
    grid-area: c5;
    padding: 30px 0 ;
}
.label2_five_start{
    font-size: 40px;
    white-space: nowrap;
    align-items: flex-end;
}
.label_end{
    padding-left: 20px;
    grid-area: c6;
}
.label_end_start_end{
    font-weight: bold;
    color: #d52c2c;
    text-align: center;
    padding-right: 20px;
}
/* end label2 */
/* end label */
/* main-product start */
.main_product{
    max-width: 100%;
    margin: 0;
}
.main_product_one{
    background-color:black ;
    height: 40px
}
.main_product_one p{
    color: white;
    font-size: 19px;
    text-align: center;
    margin: 0;
    padding: 5px;
}
.main_product_two{
    max-width: 100%;
    padding: 20%;
    padding-top: 50px;
    padding-bottom: 5%;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}
.main_product_two_sum{
    padding: 20px 10px;
    margin:0 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
    grid-template-areas: 
                        "h1 h2"
                        "h3 h2";
}
.main_product_two_start:nth-child(){
    grid-area: h1;
}
.main_product_two_img:nth-child(2){
    grid-area: h2;
}
.main_product_two_end:last-child{
    grid-area: h3;
}
.main_product_two_start{
    max-width: 100%;
    height: auto;
    padding-top: 60px;
    padding-left: 70px;
    margin: 0;
    box-sizing: border-box;
}
.main_product_two_start h2{
    margin: 0;
}
.main_product_two_start p{
    margin: 0%;
    font-size: 14px;
}
.main_product_bold{
    font-weight: bold;
}
.main_product_two_img{
    top: 20px;
    margin-top:20px ;
    padding: 20px;
    box-sizing:border-box;
    background-size: cover;
}
.main_product_two_img img{
    height: 300px;
    width: auto;
    object-fit: cover;
}
.main_product_two_end{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0 ;
    padding-left: 70px;
    box-sizing: border-box;
}
.main_product_two_end_sp{
    color: #d52c2c;
    font-size: 19px;
    font-weight: 600;
}
.main_product_two_end_tp{
    font-size: 19px;
    font-weight: 600;
}
/* end main-product */
/* campaign start */
.campaign_one{
    background: black;
}
.campaign_one p{
    color: white;
    text-align: center;
    padding: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.campaign_two{
    margin: 0 20%;
    padding-top: 30px;
    box-sizing: border-box;
}
.campaign_two_start{
    padding:0 18px;
    margin-bottom: 0;
    box-sizing: border-box;
}
.campaign_two_start p{
    font-size: 20px;
}
.campaign_two_end{
    padding-top: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-weight: bold; 
}
.campaign_two_end ul{
    list-style-type: none;
    padding: 20px;
    box-sizing: border-box;
}
.campaign_two_end ul li{
    padding: 10px 0;
    box-sizing: border-box;
}
.campaign_two_end ul li p{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
/* end campaign */
/* recruitment　start */
.recruitment_one{
    background-color: black;
}
.recruitment_one p{
    color: white;
    text-align: center;
    padding: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.recruitment_two{
    max-width: 100%;
    padding: 20%;
    padding-top: 0;
    padding-bottom: 5%;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-weight: 600;
}
/* end recruitment */
/* note start */
.note_one{
    background-color: black;
}
.note_one p{
    color: white;
    text-align: center;
    padding: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.note_two{
    max-width: 100%;
    padding: 20%;
    padding-top: 0;
    padding-bottom: 5%;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-weight: 600;
}
.note_two ul{
    padding: 0;
}
.note_two ul li{
    list-style-type: none;
}
.button_me{
    padding:0 20%;
    text-align: center;
    color: #d52c2c;
}
.button_now{
    margin: 0;
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    color: white;
    background-color: #d52c2c;
    font-size: 30px;
    border: none;
    padding: 5px;

}
.notification_one{
    background-color: black;
}
.notification_one p{
    color: white;
    text-align: center;
    padding: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.notification_two{
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
    background-color: white;
}
.notification_two p{
    padding: 0;
    margin: 0;
}
.notification_two_renraku{
    text-decoration: none;
    color: black;
}
.footer{
    background-color: #ecebe5;
    height: 200px;
    padding: 30px 20%;
    margin-top: 30px;
}
.footer_one{
    margin-top: 50px;
    box-sizing: border-box;
}
.footer_one img{
    max-width: 300px;

}
.footer_two{
    position: absolute;
    right: 0 !important;
    padding-top: 12px;
    padding-right: 20%;
    font-size: 14px;
}
.footer_two_start{
    color: black;
    box-sizing: border-box;
    text-decoration: none;
}
.footer_three{
    word-wrap: break-word;
    max-width: 350px;
    font-size: 12px;
}
/* end note */